* {
    font-family: 'Georgia', sans-serif;;
}
body {
    background-color: rgb(241, 241, 241);
    margin: 0px
    padding: 0px;
    line-height: 17px
}
h1 {
    color: black;
}
h2 {
    color: black;
}
h3 {
    color: black;
    p {
        font-style: italic;
    }
  
h4 {
    color: black;
}