body {
    background-color: #FFFAFA;  
    font-family: "Century Gothic", "Arial Narrow", Arial, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: black;
}
.header {
    background-color: #FFFAFA;
    text-align: center;
    padding: 50px;
  }
  .marquee {
    width: 200px;
    margin: 0 auto;
    background-color: #FFFAFA;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    color: black;
    font-size:18px;
 }
 .marquee span {
    display: inline-block;
    padding-left: 100%;
    text-indent: 0;
    animation: marquee 15s linear infinite;
 }
 .marquee span:hover {
     animation-play-state: paused
 }
.navbar {
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: #FFFAFA;
    text-align: center;
    padding: 30px;
    text-decoration: none;
}
.jumbotron {
  background-image: url("../img/harbor.jpg");
  background-size: cover;
  background-color: #ffffff; 
  min-width: 585px;
  margin: 10px auto;
  display: flex;
  vertical-align: middle;
  text-align: center;
  margin: 10px 10px 10px 10px;
}
.header-img {
  width: 100%
  height: 400px
  background-image: url("..img/coffee.jpg");
  background-size: cover;
}
.header {
  width: 100%
  height: 400px
  background-image: url("..img/food.jpg");
  background-size: cover;  
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFAFA;
}
.flex-container {
  background-color: #FFFAFA;
  width: 150px;
  margin: 5px;
  padding: 10px;
  text-align: left;
  line-height: 15px;
  font-size: 10px;
}
.footer {
  background-color: #FFFAFA;
  padding: 20px;
}
