body {
    background-color: #white;  
    font-family: "Century Gothic", "Arial Narrow", Arial, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: black;
}
.header {
    background-color: #white;
    text-align: center;
    padding: 50px;
  }
.navbar {
    overflow: hidden;
    color: black
  
}
.navbar a {
        float: left;
        display: block;
        color: #black;
        text-align: center;
        padding: 30px;
        text-decoration: none;
}
  .footer {
    background-color: #ADD8E6;
    text-align: center;
    padding: 20px;
  }
